h1{
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-family: 'Russo One', sans-serif;
}
h2{
	text-align: right;
}
p{
	text-align: justify;
	line-height: 24px;
	word-spacing: 5px;
	text-indent: 24px;
}